:root {
  --primaryBackground: #fff;
  --secondaryBackground: #000;
  --primaryButtonBackground: #f0f0f0;
  --secondaryButtonBackground: #666;
  --primaryFontColor: #000;
  --secondaryFontColor: #fff;
}

.App {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "San Francisco";
}
.container {
  width: 500px;
}
.result {
  border: 2px solid whitesmoke;
  height: 4rem;
}
.row {
  display: flex;
}
.row > button {
  font-size: 1rem;
  width: 10rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  margin: 2px;
}

.scientific__mode > button {
  font-size: 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

[data-theme="light"] {
  background-color: var(--primaryBackground);
  color: var(--primaryFontColor);
}
[data-theme="light"] button {
  background-color: var(--primaryButtonBackground);
  color: var(--primaryFontColor);
}

[data-theme="dark"] {
  background-color: var(--secondaryBackground);
  color: var(--secondaryFontColor);
}
[data-theme="dark"] button {
  background-color: var(--secondaryButtonBackground);
  color: var(--secondaryFontColor);
}
