:root {
  --primaryBackground: #fff;
  --primaryButtonBackground: #f0f0f0;
  --primaryFontColor: #000;
}
[data-theme="dark"] {
  --primaryBackground: #000;
  --primaryButtonBackground: #666;
  --primaryFontColor: #fff;
}
body {
  background-color: var(--primaryBackground);
  color: var(--primaryFontColor);
}
button {
  background-color: var(--primaryButtonBackground);
  color: var(--primaryFontColor);
}

.App {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "San Francisco";
}
.container {
  width: 500px;
}

.btn__themeswitch {
  margin-bottom: 3rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.result {
  border: 2px solid whitesmoke;
  font-size: 20px;
  height: 4rem;
}
.row {
  display: flex;
}

.row > button {
  font-size: 1rem;
  width: 10rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  margin: 2px;
}

.scientific__mode > button {
  font-size: 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}
