.App {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "San Francisco";
}
.container {
  width: 500px;
}
.row {
  display: flex;
}
.row > button {
  font-size: 1rem;
  width: 10rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.scientific__mode > button {
  width: 100%;
  border: none;
  cursor: pointer;
}
